@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@layer components {
  html {
    scroll-behavior: smooth;
  }
  .social-media-icon * {
    transition: all 0.5s;
  }
  .social-media-icon:hover * {
    fill: #e3b100;
  }
  .custom-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}
